body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover; /* Make images cover the viewport */
  background-position: center;
  animation: changeBackground 20s infinite alternate ease-in-out;
}

@keyframes changeBackground {
  0% {
    background-image: url("Shenhe.png");
  }
  33% {
    background-image: url("Ganyu.png");
  }
  66% {
    background-image: url("Shenhe.png");
  }
  100% {
    background-image: url("Xinqui.png");
  }
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as desired */
  z-index: 1;
  /* Add pointer-events: none; to prevent click interaction */
  pointer-events: none;
}

.container {
  position: relative;
  text-align: center;
  padding: 20px;
  /* background-color: #fbf4e3; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #2980b9;
}

.audio-control {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
}

.audio-control i {
  font-size: 2em;
  color: #ffffff40;
}
